<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Generated Blogs</title>
  </head>
  <body class="bg-green-100 font-sans antialised">
    <!-- Navbar -->
    <nav class="bg-indigo-500 p-7 text-purple-200 flex justify-between">
      <div>
        <h1 class="3x-l font-bold">AI Generated Blogs</h1>
        <h2 class="3x-l font-bold">{{user.username}}</h2>
      </div>
      <div>
        <a href="logout" class="text-purple-100 hover:underline mx-4">Logout</a>
        <a href="/" class="text-purple-100 hover:underline mx-4">Home</a>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Main Container -->
    <div class="container mx-auto mt-8 mb-4 px-4 sm:px-0">
      <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
        <!-- Blog Posts Section -->
        <section>
          <h2
            class="text-xl font-semibold mb-2 p-4 text-center text-indigo-500"
          >
            Your Generated Blogs
          </h2>
          <div class="space-y-4">
            <!-- Individual Blogs -->
            {% for article in blog_articles reversed %}

            <a href="blog-details/{{article.id}}">
              <div
                class="border border-indigo-500 p-4 rounded text-indigo-500 bg-gray-100"
              >
                <h3
                  class="text-lg font-semibold text-indigo-700 text-center mb-3"
                >
                  {{article.youtube_title}}
                </h3>
                <p>{{article.generated_content|truncatechars:90}}</p>
              </div>
            </a>

            {% endfor %}
            <!-- Individual Blogs -->
          </div>
        </section>
        <!-- Blog Posts Section -->
      </div>
    </div>
    <!-- Main Container End -->
    <!-- Footer -->
    <footer class="text-purple-600 text-center mb-2 mt-2 font-semibold">
      Made with curiosity by
      <a href="https://github.com/bermudez-creates"><i>@steezy</i></a>
    </footer>
  </body>
</html>
